# Node
**/node_modules
**/package.json
**/package-lock.json

# Config
**/bower.json
**/lerna.json

# Build
**/build
**/dist
**/public
**/coverage
**/storybook-static

# Generated
**/CHANGELOG.md

# Project
codequality/stylelint/__test__/invalid
/.nx/workspace-data
