# Node
**/node_modules
**/package.json
**/package-lock.json

# Config
**/bower.json
**/lerna.json

# Build
**/build
**/dist
**/public
**/coverage
**/storybook-static

# Project
cli/templates
cli/__tests__/tmp
