{
	"rules": {
		"at-rule-no-vendor-prefix": true,
		"block-closing-brace-space-before": ["always-single-line", {"severity": "warning"}],
		"block-opening-brace-space-after": ["always-single-line", {"severity": "warning"}],
		"block-opening-brace-space-before": ["always", {"severity": "warning"}],
		"color-hex-case": ["lower", {"severity": "warning"}],
		"color-hex-length": ["short", {"severity": "warning"}],
		"color-named": ["never", {"severity": "warning"}],
		"comment-word-blacklist": ["todo", {"severity": "warning"}],
		"declaration-block-semicolon-newline-after": ["always", {"severity": "warning"}],
		"declaration-block-trailing-semicolon": ["always", {"severity": "warning"}],
		"declaration-colon-space-after": ["always-single-line", {"severity": "warning"}],
		"declaration-no-important": true,
		"indentation": ["tab", {"severity": "warning"}],
		"max-empty-lines": [1, {"severity": "warning"}],
		"max-nesting-depth": [2, {"severity": "warning"}],
		"no-extra-semicolons": [true, {"severity": "warning"}],
		"no-missing-eof-newline": [true, {"severity": "warning"}],
		"number-zero-length-no-unit": true,
		"property-no-vendor-prefix": [true, {"severity": "warning"}],
		"selector-no-id": true,
		"value-no-vendor-prefix": [true, {"severity": "warning"}]
	}
}
