a {
	top: .2em;
	padding: 10px !important;
	color: darkgray;
	background-color: #CCC;
	background-image: url("x.svg");
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#FOO { /* ... */ }

.selector { /* ... */ }

.z-selector { /* ... */ }
