# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
.vscode
.cache
!*.cache
.settings
!*.settings
.config
!*.config
.buildpath
.metadata
.tmp*
*.prefs
.deployables
atlassian-ide-plugin.xml

# allow
!.gitkeep
