@import '../../../../../../shared/utils/colors/css/colors';
@import '../../../../../../shared/utils/component-spacing/css/component-spacing';
@import '../../../../../../shared/utils/media-queries/css/media-queries';
@import '../../../../../../shared/utils/typo/css/typo';
@import '../../../../../../shared/utils/transitions/css/transitions';

@mixin hover-focus-active-styles($interaction, $color, $border-color, $background-color: null) {
	/* stylelint-disable plugin/stylelint-bem-namics */
	#{$interaction} {
		.o-accordion-item__button {
			color: $color;

			@if $background-color {
				background-color: $background-color;
			}
		}
		.o-accordion-item__icon {
			color: $color;
		}
	}
	/* stylelint-enable plugin/stylelint-bem-namics */
}

.o-accordion-item {
	border-bottom: 1px solid $color-accordion-border-default;
	margin-bottom: -1px; // to prevent double borders
	position: relative;
	z-index: 0;

	@include media-query(xs) {
		/* stylelint-disable plugin/stylelint-bem-namics */
		.col-12 + .col-12 {
			margin-top: 3rem;
		}
		/* stylelint-enable plugin/stylelint-bem-namics */
	}

	[data-whatintent='mouse'] & {
		@include transitions(z-index, border-color);
		@include hover-focus-active-styles('&:hover', $color-accordion-font-hover, $color-accordion-border-hover);
	}

	[data-whatintent='keyboard'] & {
		@include hover-focus-active-styles('&:focus-within', $color-accordion-font-focus, $color-accordion-border-focus, $color-accordion-background-focus);
		@include hover-focus-active-styles('&[focus-within]', $color-accordion-font-focus, $color-accordion-border-focus, $color-accordion-background-focus);
	}
}

.state-o-accordion-item--open {
	@include hover-focus-active-styles('&', $color-accordion-font-default, $color-accordion-border-default);

	.o-accordion-item__icon {
		color: $color-accordion-icon-default;
	}
}

.o-accordion-item__content {
	padding-top: 1.2rem;
	@include vertical-spacing(s7, padding-bottom);
}

.o-accordion-item__button {
	@include typography(default, 'base'); // needed as button font otherwise does not get reset via reset.css
	@include typography('body');
	background: $color-accordion-background-default;
	border: none;
	color: $color-accordion-font-default;
	font-size: 3.6rem;
	line-height: 1;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 1.6rem 0;

	@include media-query(md, xl) {
		padding: 2.4rem 0;
	}

	[data-whatintent='mouse'] & {
		@include transitions(color, padding-left);
	}

	&:focus {
		outline: none;
	}
}

.o-accordion-item__text {
	padding-right: 2rem;
	text-align: left;
}

.o-accordion-item__icon {
	@include transitions(transform);
	margin-left: auto;
	line-height: 1;
	color: $color-accordion-icon-default;
	font-size: 1.38em;
	transform: rotate(0);

	/* stylelint-disable plugin/stylelint-bem-namics */
	.collapsed & {
		transform: rotate(180deg);
	}
	/* stylelint-enable plugin/stylelint-bem-namics */

	[data-whatintent='mouse'] & {
		@include transitions(transform, color);
	}
}
