# This workflow will do a clean install of node dependencies and run tests across different versions of node on different environments
# For more information see: https://docs.github.com/de/actions/automating-builds-and-tests/building-and-testing-nodejs

name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Test - ${{ matrix.platform }} - Node v${{ matrix.node-version }}
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
        env:
          CI: true
